@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Inter:wght@300&family=Jost:wght@100&display=swap');

:root {
 --font-nomeSite: font-family: 'Caprasimo', cursive;
 --font-titulos: font-family: 'Bebas Neue', sans-serif;
 --font-subtitulos: font-family: 'Jost', sans-serif;
 --font-paraParagrafos: font-family: 'Inter', sans-serif;
 --cor-vermelhoTomato: #F20544;
 --cor-azulMeioEscuro: #021E73;
 --cor-azulEscuro: #011140;
 --cor-azulClaro: #0442BF;
 --cor-amarelo: #BF9004;
 --cor-pretoFosco: #212226;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 300vh;
}

header {
    background-color: var(--cor-pretoFosco);
    height: 60px;
}

.menu-inicial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
}

.logo-img {
    display: flex;
    background-color: aqua;
    min-width: 100px;
    height: 40px;
}

#menu-links {
    text-decoration: none;
    display: inline-block;
    color: var(--cor-vermelhoTomato);
    font-family: (var(--font-titulos));
    margin-right: 15px;
    font-size: 22px;
    padding: 10px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu-links:hover {
    color: white;
    background-color: var(--cor-vermelhoTomato);
    transform: scale(1.25, 1.25);
}

.menu-inicial ul{
    display: flex;
    list-style: none;
}

.logo-posheader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40vh;
    justify-content: center;
    margin-top: 7vh;
}

.img-posheader {
    background-color: #0442BF;
    width: 700px;
    height: 40vh;
    color: aliceblue;
}

.expoBox-container {
    height: 70vh;
    background-color: #021E73;
    margin-top: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.expoBox-subContainer {
    display: flex;
    background-color: #F20544;
    width: 20%;
    height: 85%;
}

.subContainer-content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aqua;
    align-items: end;
}

.subContainer-text {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #BF9004;
    position: relative;
    bottom: 0;
    
}

.destaques-container {
    width: 100%;
    height: 100vh;
    background-color: burlywood;
    margin-top: 4vh;
}

