@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Inter:wght@300&family=Jost:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --font-nomeSite: 'Caprasimo', cursive;
    --font-titulos: 'Bebas Neue', sans-serif;
    --font-subtitulos: 'Jost', sans-serif;
    --font-paraParagrafos: 'Inter', sans-serif;
    --font-paraParagrafos2: 'Lato', sans-serif;
    --cor-vermelhoTomato: #F20544;
    --cor-azulMeioEscuro: #021E73;
    --cor-azulEscuro: #011140;
    --cor-azulClaro: #0442BF;
    --cor-amarelo: #BF9004;
    --cor-pretoFosco: #212226;
    --cor-branco: #ffffff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    position: relative;
}

header {
    background-color: var(--cor-pretoFosco);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 30;
    font-family: var(--font-paraParagrafos);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-inicial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
}

.logo-img {
    display: flex;
    min-width: 250px;
    height: 50px;
    z-index: 10;
}

.logo-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#menu-links {
    text-decoration: none;
    display: inline-block;
    color: var(--cor-vermelhoTomato);
    font-family: (var(--font-titulos));
    margin-right: 15px;
    font-size: 22px;
    padding: 10px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu-links:hover {
    color: white;
    background-color: var(--cor-vermelhoTomato);
    border-radius: 5px;
}

.menu-inicial ul {
    display: flex;
    list-style: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 146px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid var(--cor-vermelhoTomato);
    background: transparent;
    backdrop-filter: blur(30px);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(187, 187, 187);
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}

.logo-posheader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40vh;
    justify-content: center;
    margin-top: 7vh;
}

.img-posheader {
    width: 700px;
    height: 40vh;
}

.img-posheader img {
    width: 100%;
    height: 100%;
}

main {
    height: auto;
    width: 100%;
}

/*PRE-SETS*/

.container-hr {
    width: 68%;
    height: auto;
    margin: 4vh auto 8vh;
}

#destaques-doDia {
    font-size: 45px;
    font-family: var(--font-subtitulos);
}

#hrdestaques {
    width: 100%;
    margin: 0 auto;
    opacity: 50%;
}

.overlay {
    width: 40%;
    height: 100%;
    position: absolute;
    z-index: 10;
    transition: 1s;
}

.overlay:hover {
    background-color: var(--cor-amarelo);
    opacity: 25%;
}
/*PRE-SETS*/

.container-inicial-fourbox {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    height: 260px;
    background-color: #021E73;
}

.inicial-boxes {
    display: flex;
    height: 230px;
    width: 12.7%;
    background-color: #BF9004;
    align-items: end;
}

.content-inicial-box {
    display: flex;
    width: 100%;
    height: 30%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    transition: 0.5s ease-in-out;
    text-align: center;
    align-items: center;
}

.content-inicial-box a {
    text-decoration: none;
    color: var(--cor-branco);
    font-size: 15px;
    transition: 0.9s ease-in-out;
    opacity: 0.5;
}

.inicial-boxes:hover .content-inicial-box {
    height: 50%;
}

.inicial-boxes:hover .content-inicial-box a {
    font-size: 20px;
    opacity: 1;
}

.jogoPC-container {
    display: flex;
    width: 65%;
    height: 550px;
    background-color: #212226;
    margin: 0 auto;
}

.box-jogoPC {
    width: 50%;
    height: 100%;
    background: #BF9004;
    position: relative;
    display: flex;
}

.box-jogoPC-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.box-jogoPC-content {
    width: 0%;
    height: 100%;
    background: linear-gradient(to top, transparent -50%, black 150%);;
    position: absolute;
    transition: 1s;
    opacity: 0;
}

.box-jogoPC:hover .box-jogoPC-content {
    display: flex;
    width: 60%;
    opacity: 1;
}

.miniboxes1-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    width: 50%;
    background-color: #021E73;
}

.miniboxes1 {
    display: flex;
    width: 98%;
    height: 32%;
    background-color: #F20544;
    margin: 0 auto;
    position: relative;
}

.miniboxes1-img {
    width: 40%;
    height: 100%;
    background-color: #a5bcff;
    position: relative;
}

.miniboxes1-content {
    width: 60%;
    height: 100%;
    background-color: aqua;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.miniboxes1-content h1 {
    font-size: 25px;
    padding: 5px;
    color: var(--cor-pretoFosco);
    font-family: var(--font-paraParagrafos2);
}

.miniboxes1-content a {
    font-size: 17px;
    text-decoration: none;
    color: var(--cor-pretoFosco);
    font-family: var(--font-paraParagrafos2);
    font-weight: 200;
    padding: 5px;
}

.miniboxes1-content a:hover {
    text-decoration: underline;
    color: var(--cor-vermelhoTomato);
}

.container-sixboxes {
    width: 50%;
    height: 100%;
    background-color: bisque;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.six-img {
    width: 100%;
    height: 100%;
    position: relative;
}

.six-content {
    background: linear-gradient(to top, transparent -50%, black 200%);
    width: 100%;
    height: 30%;
    z-index: 10;
    position: absolute;
}

.six-boxes {
    width: 49%;
    height: 32.5%;
    background-color: #a5bcff;
    position: relative;
    display: flex;
    align-items: end;
}

.container-jogos-console {
    width: 65%;
    height: 700px;
    margin: 0 auto;
    background-color: #212226;
    display: flex;
}

.miniboxes-console-container {
    height: 100%;
    width: 50%;
    background-color: #0442BF;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.miniboxes-console-box {
    width: 98%;
    height: 170px;
    background-color: #a5bcff;
    display: flex;
}

.MG-console-img {
    width: 45%;
    height: 100%;
    background-color: #212226;
}

.MG-console-content {
    width: 55%;
    height: 170px;
    background-color: #ffffff;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-direction: column;
}

.MG-console-content h1 {
    padding: 5px;
    font-family: var(--font-paraParagrafos2);
}

.MG-console-content a {
    text-decoration: none;
    color: var(--cor-pretoFosco);
    padding: 5px;
}

.MG-console-content a:hover {
    text-decoration: underline;
    color: var(--cor-vermelhoTomato);
}

.container-mobile {
    width: 65%;
    height: 900px;
    background-color: #a5bcff;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.three-boxes-container {
    width: 33%;
    height: 450px;
    background-color: #0442BF;
}

.img-th {
    width: 100%;
    height: 270px;
    background-color: #6598ff;
}

.content-th {
    width: 100%;
    height: 180px;
    background-color: #BF9004;
}

.container-mobile-fv {
    width: 100%;
    height: 470px;
    background-color: #212226;
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bigbox {
    width: 43%;
    height: 450px;
    background-color: #F20544;
    position: relative;
    display: flex;
    align-items: end;
}

.bigbox-img {
  width: 100%;
  height: 100%;
  position: relative;
}

.bigbox-content {
    width: 100%;
    height: 0%;
    opacity: 0;
    background: linear-gradient(to top, transparent -50%, black 200%);
    position: absolute;
    transition: 0.5s ease-in-out;
}

.bigbox-content a{
  text-decoration: none;
  color: var(--cor-branco);
  font-size: 20px;
}

.bigbox:hover .bigbox-content {
    height: 40%;
    opacity: 1;
}

.fourboxes-container {
    width: 55%;
    height: 450px;
    background-color:aquamarine;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.cx-fr {
    width: 45%;
    height: 200px;
    background-color: #0442BF;
    align-items: end;
    display: flex;
    position: relative;
}

.cx-fr-img {
    width: 100%;
    height: 100%;
}

.cx-fr-img img {
    width: 100%;
    height: 100%;
}

.cx-fr-content {
 width: 100%;
 height: 25%;
 background-color: #212226;
 position: absolute;
}


/*PRESETS*/

/*PRESETS*/