@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Inter:wght@300&family=Jost:wght@100&display=swap');

:root {
 --font-nomeSite: 'Caprasimo', cursive;
 --font-titulos: 'Bebas Neue', sans-serif;
 --font-subtitulos: 'Jost', sans-serif;
 --font-paraParagrafos: 'Inter', sans-serif;
 --cor-vermelhoTomato: #F20544;
 --cor-azulMeioEscuro: #021E73;
 --cor-azulEscuro: #011140;
 --cor-azulClaro: #0442BF;
 --cor-amarelo: #BF9004;
 --cor-pretoFosco: #212226;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 500vh;
}

header {
    background-color: var(--cor-pretoFosco);
    height: 60px;
}

.menu-inicial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
}

.logo-img {
    display: flex;
    min-width: 100px;
    height: 50px;
}

.logo-img img{
   width: 100%;
   height: 100%;
   border-radius: 5px;
}

#menu-links {
    text-decoration: none;
    display: inline-block;
    color: var(--cor-vermelhoTomato);
    font-family: (var(--font-titulos));
    margin-right: 15px;
    font-size: 22px;
    padding: 10px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu-links:hover {
    color: white;
    background-color: var(--cor-vermelhoTomato);
    transform: scale(1.25, 1.25);
}

.menu-inicial ul{
    display: flex;
    list-style: none;
}

.logo-posheader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40vh;
    justify-content: center;
    margin-top: 7vh;
}

.img-posheader {
    width: 700px;
    height: 40vh;
}

.img-posheader img {
    width: 100%;
    height: 100%;
}

.expoBox-container {
    height: 70vh;
    background-color: #021E73;
    margin-top: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.expoBox-subContainer {
    display: flex;
    background-color: #F20544;
    width: 20%;
    height: 85%;
}

.subContainer-content {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: aqua;
    align-items: end;
}

.subContainer-text {
    display: flex;
    width: 100%;
    height: 20%;
    background-color: #BF9004;
    position: relative;
    bottom: 0;
    
}

.destaques-container {
    background-color: #0442BF;
    height: 70vh;
    width: 90%;
    margin: 4vh auto 0px;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.miniBoxes-destaques-container {
    display: flex;
    grid-column: 1;
    grid-row: 1 /span 5;
    flex-direction: column;
    margin-right: 20px;
}


.miniBoxes-destaques-item1 {
    background-color: #212226;
    grid-column: 1;
    height: 99%;
    width: 100%;
    display: flex;
}

.miniboxes1-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.descricao-minibox1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#h1-Minibox1 {
    margin-left: 15px;
}

#h2-Minibox1 {
    margin-left: 15px;
    font-size: 15px;
}

.miniBoxes-destaques-item2 {
    background-color: #374da5;
    grid-column: 1;
    height: 99%;
    width: 100%;
    margin-top: 1%;
    display: flex;
    }

.miniboxes2-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.descricao-minibox2 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#h1-Minibox2 {
    margin-left: 15px;
}

#h2-Minibox2 {
    margin-left: 15px;
    font-size: 15px;
}

.miniBoxes-destaques-item3 {
    background-color: #212226;
    grid-column: 1;
    height: 99%;
    width: 100%;
    margin-top: 1%;
    display: flex;
}

.miniboxes3-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.descricao-minibox3 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#h1-Minibox3 {
    margin-left: 15px;
}

#h2-Minibox3 {
    margin-left: 15px;
    font-size: 15px;
}

.miniBoxes-destaques-item4 {
    background-color: #212226;
    
    grid-column: 1;
    height: 99%;
    width: 100%;
    margin-top: 1%;
    display: flex;
}

.miniboxes4-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.descricao-minibox4 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#h1-Minibox4 {
    margin-left: 15px;
}

#h2-Minibox4 {
    margin-left: 15px;
    font-size: 15px;
}

.miniBoxes-destaques-item5 {
    background-color: #212226;
    grid-row: 9;
    grid-column: 1;
    height: 99%;
    width: 100%;
    margin-top: 1%;
    display: flex;
}

.miniboxes5-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.descricao-minibox5 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#h1-Minibox5 {
    margin-left: 15px;
}

#h2-Minibox5 {
    margin-left: 15px;
    font-size: 15px;
}

.main-destaques-container {
    grid-column: 2;
    grid-row: 1 /span 5;
    width: 100%;
    height: 100%;
    background-color: rgb(144, 151, 156);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 2% 43%;
}

.img-box1 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #BF9004;
    grid-column: 1;
    grid-row: 1;
    align-items: end;
    border-radius: 5px;
}

.descricao-box1 {
    height: 20%;
    width: 100%;
    background-color: aquamarine;
    position: relative;
    bottom: 0;
}

.img-box2 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #BF9004;
    grid-column: 1;
    grid-row: 3;
    align-items: end;
    border-radius: 5px;
}

.descricao-box2 {
    height: 20%;
    width: 100%;
    background-color: aquamarine;
    position: relative;
    bottom: 0;
}

.aside-destaques-container {
    grid-column: 3;
    grid-row: 1 /span 5;
    width: 95%;
    height: 100%;
    background-color: rgb(41, 153, 233);
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 43% 2% 55%;
    margin-left: 5%;
}

.img-box1-aside {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #26264d;
    grid-column: 1;
    grid-row: 1;
    align-items: end;
    border-radius: 5px;
}

.descricao-box1-aside {
    height: 20%;
    width: 100%;
    background-color: aquamarine;
    position: relative;
    bottom: 0;
}

.img-box2-aside {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #1fb933;
    grid-column: 1;
    grid-row: 3;
    align-items: end;
    border-radius: 5px;
}

.descricao-box2-aside {
    height: 20%;
    width: 100%;
    background-color: aquamarine;
    position: relative;
    bottom: 0;
}

#destaques-doDia {
    margin: 4vh 0vh 0.5vh 10vh;
    font-size: 50px;
    font-family: var(--font-subtitulos);
}

#hrdestaques {
    width: 90%;
    margin-left: 10vh;
    opacity: 50%;
}

.gallery img {
    height: 250px;
    width: 400px;
}

.container {
   margin: 0 auto;
   padding: 15px;
   max-width: 1500px;
   position: relative;
   margin-top: 5vh;
   height: 240px;
}

.gallery-wrapper {
    overflow-x: auto;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;

}

.arrow-left, .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    cursor: pointer;
    border: none;
    color: aliceblue;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
position: absolute;
    left: auto;
    right: 0;
    border: none;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover, .arrow-right:hover {
    opacity: 1;
}

.item {
   width: 400px;
   height: 100%;
   flex-shrink: 0;
   opacity: 0.6;
   transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
    width: 420px;
    height: 100%;

}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
  }

.item video {
    height: 100%;
    width: 100%;
}

.current-item video {
    height: 100%;
    width: 100%;
}

.boxes-emlancamento-container {
     background-color: #011140;
     height: 70vh;
     width: 1500px;
     margin: 5vh auto 15vh;
     display: grid;
     grid-template-columns: 50% 50%;
     grid-template-rows: 50% 50%;
     align-items: center;
}


.row1-co1 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.boxes-emlancamento1 {
    display: flex;
    width: 48%;
    height: 98%;
    background-color: #F20544;
    margin: 0 auto;
    align-items: end;
}

.boxes-emlancamento2 {
    display: flex;
    width: 48%;
    height: 98%;
    background-color: #F20544;
    margin: 0 auto;
    align-items: end;
}

.row2-co1 {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.boxes-emlancamento3 {
    display: flex;
    width: 48%;
    height: 98%;
    background-color: #F20544;
    margin: 0 auto;
    align-items: end;
}

.boxes-emlancamento4 {
    display: flex;
    width: 48%;
    height: 98%;
    background-color: #F20544;
    margin: 0 auto;
    align-items: end;
}

.boxes-emlancamento5 {
    display: flex;
    grid-column: 2;
    grid-row: 1 /span 2;
    height: 99%;
    width: 99%;
    margin: 0px auto;
    background-color: #F20544;
    align-items: end;
}

.content-EM-box1 {
    position: relative;
    height: 25%;
    width: 100%;
    bottom: 0;
    background-color: #BF9004;
}

.content-EM-box2 {
    position: relative;
    height: 25%;
    width: 100%;
    bottom: 0;
    background-color: #BF9004;
}

.content-EM-box3 {
    position: relative;
    height: 25%;
    width: 100%;
    bottom: 0;
    background-color: #BF9004;
}

.content-EM-box4 {
    position: relative;
    height: 25%;
    width: 100%;
    bottom: 0;
    background-color: #BF9004;
}

.content-EM-box5 {
    position: relative;
    height: 25%;
    width: 100%;
    bottom: 0;
    background-color: #BF9004;
}

.embreve-container {
    width: 75%;
    height: 80vh;
    background-color: #BF9004;
    margin: 5vh auto 0;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 26vh 26vh 28vh;
}

.box1-EV {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    background-color: #26264d;
    align-items: end;
}

.box2-EV {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    background-color: #26264d;
    align-items: end;
}

.box3-EV {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    background-color: #26264d;
    align-items: end;
}

.box4-EV {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    background-color: #26264d;
    align-items: end;
}

.box5-EV {
    display: flex;
    grid-column: 1;
    grid-row: 3;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    background-color: #26264d;
    align-items: end;
}

.box6-EV {
    grid-column: 2 /span 4;
    grid-row: 2 /span 3;
    width: 99.5%;
    height: 99%;
    margin: 0 auto;
    background-color: #26264d;
    display: flex;
    align-items: end;
}

.content-box1-EV {
    width: 100%;
    height: 25%;
    background-color: #1fb933;
}

.content-box2-EV {
    width: 100%;
    height: 25%;
    background-color: #1fb933;
}

.content-box3-EV {
    width: 100%;
    height: 25%;
    background-color: #1fb933;
}

.content-box4-EV {
    width: 100%;
    height: 25%;
    background-color: #1fb933;
}

.content-box5-EV {
    width: 100%;
    height: 25%;
    background-color: #1fb933;
}

.content-box6-EV {
    width: 100%;
    height: 25%;
    background-color: #1fb933;
}
