@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Inter:wght@300&family=Jost:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --font-nomeSite: 'Caprasimo', cursive;
    --font-titulos: 'Bebas Neue', sans-serif;
    --font-subtitulos: 'Jost', sans-serif;
    --font-paraParagrafos: 'Inter', sans-serif;
    --font-paraParagrafos2: 'Lato', sans-serif;
    --cor-vermelhoTomato: #F20544;
    --cor-azulMeioEscuro: #021E73;
    --cor-azulEscuro: #011140;
    --cor-azulClaro: #0442BF;
    --cor-amarelo: #BF9004;
    --cor-pretoFosco: #212226;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
}

header {
    background-color: var(--cor-pretoFosco);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: var(--font-paraParagrafos);
}

.menu-inicial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
}

.logo-img {
    display: flex;
    min-width: 100px;
    height: 50px;
}

.logo-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#menu-links {
    text-decoration: none;
    display: inline-block;
    color: var(--cor-vermelhoTomato);
    font-family: (var(--font-titulos));
    margin-right: 15px;
    font-size: 22px;
    padding: 10px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu-links:hover {
    color: white;
    background-color: var(--cor-vermelhoTomato);
    border-radius: 5px;
}

.menu-inicial ul {
    display: flex;
    list-style: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 146px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid var(--cor-vermelhoTomato);
    background: transparent;
    backdrop-filter: blur(30px);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(187, 187, 187);
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}

.logo-posheader {
    display: flex;
    align-items: center;
    width: 100%;
    height: 40vh;
    justify-content: center;
    margin-top: 7vh;
}

.img-posheader {
    width: 700px;
    height: 40vh;
}

.img-posheader img {
    width: 100%;
    height: 100%;
}

.expoBox-container {
    height: 70vh;
    margin-top: 7vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 90%;
    margin: 7vh auto 0;
}

.expoBox-subContainer {
    display: flex;
    width: 22%;
    height: 85%;
}

.subContainer-content {
    display: flex;
    width: 100%;
    height: 100%;
    align-items: end;
    border-radius: 5px;
    position: relative;
}

.zoomIN {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.subContainer-content img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.zoomIN:hover img {
    transform: scale(1.1);
    background: linear-gradient(to top, transparent 0%, rgb(255, 255, 255) 200%);
}

.subContainer-text {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.subContainer-text a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 22px;
    text-decoration: none;
}

.subContainer-text a:hover {
    text-decoration: underline;
    color: var(--cor-vermelhoTomato);
}



.destaques-container {
    height: 70vh;
    width: 90%;
    margin: 4vh auto 15vh;
    display: grid;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 20% 20% 20% 20% 20%;
}

.miniBoxes-destaques-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-column: 1;
    grid-row: 1 /span 5;
    flex-direction: column;
    margin-right: 20px;
}


.miniBoxes-destaques-item1 {
    background-color: #f0eeee;
    grid-column: 1;
    height: 100%;
    width: 100%;
    display: flex;
    grid-row: 1 /span 5;
    grid-row: 1;
    position: relative;
}

.miniboxes1-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.miniboxes1-img img {
    height: 100%;
    width: 100%;
}

.descricao-minibox1 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.overlayDSTQS1 {
    background-color: var(--cor-amarelo);
    height: 100%;
    width: 40%;
    grid-row: 1;
    grid-column: 1;
    position: relative;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.overlayDSTQS1:hover {
    opacity: 25%;
}

#h1-Minibox1 {
    margin-left: 15px;
    font-family: var(--font-paraParagrafos2);
    font-size: 20px;
}

#h2-Minibox1 {
    margin-left: 13px;
    font-size: 14px;
    font-family: var(--font-paraParagrafos2);
    padding: 0 4px 0;
}

.miniBoxes-destaques-item2 {
    background-color: #f0eeee;
    grid-column: 1;
    height: 99%;
    width: 100%;
    margin-top: 0.5%;
    display: flex;
    grid-row: 2;
}

.miniboxes2-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.miniboxes2-img img {
    height: 100%;
    width: 100%;
}

.descricao-minibox2 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#h1-Minibox2 {
    margin-left: 15px;
    font-family: var(--font-paraParagrafos2);
    font-size: 20px;
}

#h2-Minibox2 {
    margin-left: 13px;
    font-size: 14px;
    font-family: var(--font-paraParagrafos2);
    padding: 0 4px 0;
}

.overlayDSTQS2 {
    background-color: var(--cor-amarelo);
    height: 100%;
    width: 40%;
    grid-row: 2;
    grid-column: 1;
    position: relative;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.overlayDSTQS2:hover {
    opacity: 25%;
}

.miniBoxes-destaques-item3 {
    background-color: #f0eeee;
    grid-column: 1;
    height: 99%;
    width: 100%;
    margin-top: 0.5%;
    display: flex;
    grid-row: 3;
}

.miniboxes3-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.miniboxes3-img img {
    height: 100%;
    width: 100%;
}

.descricao-minibox3 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#h1-Minibox3 {
    margin-left: 15px;
    font-family: var(--font-paraParagrafos2);
    font-size: 20px;

}

#h2-Minibox3 {
    margin-left: 13px;
    font-size: 14px;
    font-family: var(--font-paraParagrafos2);
    padding: 0 4px 0;
}

.overlayDSTQS3 {
    background-color: var(--cor-amarelo);
    height: 100%;
    width: 40%;
    grid-row: 3;
    grid-column: 1;
    position: relative;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.overlayDSTQS3:hover {
    opacity: 20%;
}



.miniBoxes-destaques-item4 {
    background-color: #f0eeee;
    grid-row: 4;
    grid-column: 1;
    height: 99%;
    width: 100%;
    margin-top: 0.5%;
    display: flex;
}

.miniboxes4-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.miniboxes4-img img {
    height: 100%;
    width: 100%;
}

.descricao-minibox4 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#h1-Minibox4 {
    margin-left: 15px;
    font-family: var(--font-paraParagrafos2);
    font-size: 20px;
}

#h2-Minibox4 {
    margin-left: 13px;
    font-size: 14px;
    font-family: var(--font-paraParagrafos2);
    padding: 0 4px 0;
}

.overlayDSTQS4 {
    background-color: var(--cor-amarelo);
    height: 100%;
    width: 40%;
    grid-row: 4;
    grid-column: 1;
    position: relative;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.overlayDSTQS4:hover {
    opacity: 20%;
}

.miniBoxes-destaques-item5 {
    background-color: #f0eeee;
    grid-row: 9;
    grid-column: 1;
    height: 99%;
    width: 100%;
    margin-top: 0.5%;
    display: flex;
    grid-row: 5;
}

.miniboxes5-img {
    height: 100%;
    width: 40%;
    background-color: #1fb933;
}

.miniboxes5-img img {
    height: 100%;
    width: 100%;
}

.descricao-minibox5 {
    display: flex;
    flex-direction: column;
    width: 60%;
}

#h1-Minibox5 {
    margin-left: 15px;
    font-family: var(--font-paraParagrafos2);
    font-size: 20px;
}

#h2-Minibox5 {
    margin-left: 13px;
    font-size: 14px;
    font-family: var(--font-paraParagrafos2);
    padding: 0 4px 0;
}

.overlayDSTQS5 {
    background-color: var(--cor-amarelo);
    height: 100%;
    width: 40%;
    grid-row: 5;
    grid-column: 1;
    position: relative;
    opacity: 0;
    transition: 0.5s ease-in-out;
}

.overlayDSTQS5:hover {
    opacity: 20%;
}


.main-destaques-container {
    grid-column: 2;
    grid-row: 1 /span 5;
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 55% 2% 43%;
}

.img-box1 {
    display: flex;
    width: 100%;
    height: 100%;
    grid-column: 1;
    grid-row: 1;
    align-items: end;
    border-radius: 5px;
    position: relative;
}

.img-box1 img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.descricao-box1 {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.descricao-box1 a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 22px;
    text-decoration: none;
}

.descricao-box1 a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.img-box2 {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #BF9004;
    grid-column: 1;
    grid-row: 3;
    align-items: end;
    border-radius: 5px;
    position: relative;
}

.img-box2 img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.descricao-box2 {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.descricao-box2 a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 22px;
    text-decoration: none;
}

.descricao-box2 a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.aside-destaques-container {
    grid-column: 3;
    grid-row: 1 /span 5;
    width: 95%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 43% 2% 55%;
    margin-left: 5%;
}

.img-box1-aside {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #26264d;
    grid-column: 1;
    grid-row: 1;
    align-items: end;
    border-radius: 5px;
    position: relative;
}

.img-box1-aside img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.descricao-box1-aside {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.descricao-box1-aside a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 22px;
    text-decoration: none;
}

.descricao-box1-aside a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.img-box2-aside {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: #1fb933;
    grid-column: 1;
    grid-row: 3;
    align-items: end;
    border-radius: 5px;
    position: relative;
}

.img-box2-aside img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.descricao-box2-aside {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.descricao-box2-aside a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 22px;
    text-decoration: none;
}

.descricao-box2-aside a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

#destaques-doDia {
    margin: 4vh 0vh 0.5vh 10vh;
    font-size: 50px;
    font-family: var(--font-subtitulos);
}

#hrdestaques {
    width: 90%;
    margin-left: 10vh;
    opacity: 50%;
}

.gallery img {
    height: 250px;
    width: 400px;
}

.container {
    margin: 0 auto;
    padding: 15px;
    max-width: 1500px;
    position: relative;
    margin-top: 5vh;
    height: 240px;
}

.gallery-wrapper {
    overflow-x: auto;
    height: 100%;
}

.gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
    height: 100%;

}

.arrow-left,
.arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    cursor: pointer;
    border: none;
    color: aliceblue;
    background: linear-gradient(to left, transparent 0%, black 200%);
    opacity: 0.1;
    transition: all 600ms ease-in-out;
}

.arrow-right {
    position: absolute;
    left: auto;
    right: 0;
    border: none;
    background: linear-gradient(to right, transparent 0%, black 200%);
}

.arrow-left:hover,
.arrow-right:hover {
    opacity: 1;
}

.item {
    width: 400px;
    height: 100%;
    flex-shrink: 0;
    opacity: 0.6;
    transition: all 600ms ease-in-out;
}

.current-item {
    opacity: 1;
    width: 420px;
    height: 100%;

}

.gallery-wrapper::-webkit-scrollbar {
    display: none;
}

.item iframe {
    height: 100%;
    width: 100%;
}

.current-item iframe {
    height: 100%;
    width: 100%;
}

.boxes-emlancamento-container {
    height: 70vh;
    width: 1500px;
    margin: 5vh auto 15vh;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    align-items: center;
}


.row1-co1 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.boxes-emlancamento1 {
    display: flex;
    width: 48%;
    height: 98%;
    margin: 0 auto;
    align-items: end;
    position: relative;
}

.boxes-emlancamento1 img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.boxes-emlancamento2 {
    display: flex;
    width: 48%;
    height: 98%;
    margin: 0 auto;
    align-items: end;
    position: relative;
}

.boxes-emlancamento2 img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.row2-co1 {
    grid-column: 1;
    grid-row: 2;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.boxes-emlancamento3 {
    display: flex;
    width: 48%;
    height: 98%;
    margin: 0 auto;
    align-items: end;
    position: relative;
}

.boxes-emlancamento3 img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.boxes-emlancamento4 {
    display: flex;
    width: 48%;
    height: 98%;
    margin: 0 auto;
    align-items: end;
    position: relative;
}

.boxes-emlancamento4 img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.boxes-emlancamento5 {
    display: flex;
    grid-column: 2;
    grid-row: 1 /span 2;
    height: 99%;
    width: 99%;
    margin: 0px auto;
    align-items: end;
    position: relative;
}

.boxes-emlancamento5 img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.content-EM-box1 {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-EM-box1 a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 22px;
    text-decoration: none;
}

.content-EM-box1 a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.content-EM-box2 {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-EM-box2 a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 22px;
    text-decoration: none;
}

.content-EM-box2 a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.content-EM-box3 {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-EM-box3 a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 22px;
    text-decoration: none;
}

.content-EM-box3 a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.content-EM-box4 {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-EM-box4 a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 22px;
    text-decoration: none;
}

.content-EM-box4 a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.content-EM-box5 {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-EM-box5 a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 26px;
    text-decoration: none;
}

.content-EM-box5 a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.embreve-container {
    width: 75%;
    height: 80vh;
    margin: 5vh auto 0;
    display: grid;
    grid-template-columns: 33% 33% 34%;
    grid-template-rows: 33% 33% 34%;
}

.box1-EV {
    display: flex;
    grid-column: 1;
    grid-row: 1;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    align-items: end;
    position: relative;
}

.box1-EV img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.box2-EV {
    display: flex;
    grid-column: 2;
    grid-row: 1;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    align-items: end;
    position: relative;
}

.box2-EV img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.box3-EV {
    display: flex;
    grid-column: 3;
    grid-row: 1;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    align-items: end;
    position: relative;
}

.box3-EV img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.box4-EV {
    display: flex;
    grid-column: 1;
    grid-row: 2;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    align-items: end;
    position: relative;
}

.box4-EV img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.box5-EV {
    display: flex;
    grid-column: 1;
    grid-row: 3;
    width: 99%;
    height: 99%;
    margin: 0 auto;
    align-items: end;
    position: relative;
}

.box5-EV img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.box6-EV {
    grid-column: 2 /span 4;
    grid-row: 2 /span 2;
    width: 99.5%;
    height: 99.3%;
    margin: 0 auto;
    display: flex;
    align-items: end;
    position: relative;
}

.box6-EV img {
    width: 100%;
    height: 100%;
    z-index: -1;
    border-radius: 5px;
    transition: 1s all ease-in-out;
}

.content-box1-EV {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-box1-EV a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 20px;
    text-decoration: none;
}

.content-box1-EV a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.content-box2-EV {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-box2-EV a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 20px;
    text-decoration: none;
}

.content-box2-EV a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.content-box3-EV {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-box3-EV a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 20px;
    text-decoration: none;
}

.content-box3-EV a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.content-box4-EV {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-box4-EV a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 20px;
    text-decoration: none;
}

.content-box4-EV a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.content-box5-EV {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-box5-EV a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 20px;
    text-decoration: none;
}

.content-box5-EV a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.content-box6-EV {
    display: flex;
    width: 100%;
    height: 20%;
    background: linear-gradient(to top, transparent -50%, black 200%);
    bottom: 0;
    z-index: 0;
    position: absolute;
    text-align: center;
    justify-content: justify;
    align-items: center;
}

.content-box6-EV a {
    padding: 4px;
    color: #fff;
    font-family: var(--font-paraParagrafos);
    font-size: 26px;
    text-decoration: none;
}

.content-box6-EV a:hover {
    text-decoration: underline;
    color: var(--cor-amarelo);
}

.footer {
    padding: 40px 0;
    background-color: var(--cor-pretoFosco);
    position: relative;
    bottom: 0;
    margin-top: 15vh;
    font-family: var(--font-paraParagrafos);
}

.footer .social {
    text-align: center;
    padding: 25px;
    color: var(--cor-amarelo);
}

.footer .social a {
    font-size: 24px;
    color: inherit;
    border: 1px solid var(--cor-amarelo);
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover {
    opacity: 1;
}

.footer ul {
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
    position: relative;
}

.footer ul li a {
    color: var(--cor-amarelo);
    text-decoration: none;
    opacity: 0.8;
    font-weight: 900;
}

.footer ul li {
    display: inline-block;
    padding: 0 15px;
}

.footer ul li {
    color: inherit;
    text-decoration: none;
    opacity: 1;
}

.footer ul li a:hover {
    opacity: 1;

}

.footer .copyright {
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: var(--cor-amarelo);
}