@charset "utf-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caprasimo&family=Inter:wght@300&family=Jost:wght@100&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

:root {
    --font-nomeSite: 'Caprasimo', cursive;
    --font-titulos: 'Bebas Neue', sans-serif;
    --font-subtitulos: 'Jost', sans-serif;
    --font-paraParagrafos: 'Inter', sans-serif;
    --font-paraParagrafos2: 'Lato', sans-serif;
    --cor-vermelhoTomato: #F20544;
    --cor-azulMeioEscuro: #021E73;
    --cor-azulEscuro: #011140;
    --cor-azulClaro: #0442BF;
    --cor-amarelo: #BF9004;
    --cor-pretoFosco: #212226;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
}

header {
    background-color: var(--cor-pretoFosco);
    height: 60px;
    position: sticky;
    top: 0;
    z-index: 10;
    font-family: var(--font-paraParagrafos);
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.menu-inicial {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 60px;
}

.logo-img {
    display: flex;
    min-width: 250px;
    height: 50px;
    z-index: 10;
}

.logo-img img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

#menu-links {
    text-decoration: none;
    display: inline-block;
    color: var(--cor-vermelhoTomato);
    font-family: (var(--font-titulos));
    margin-right: 15px;
    font-size: 22px;
    padding: 10px;
    transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

#menu-links:hover {
    color: white;
    background-color: var(--cor-vermelhoTomato);
    border-radius: 5px;
}

.menu-inicial ul {
    display: flex;
    list-style: none;
}

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 146px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid var(--cor-vermelhoTomato);
    background: transparent;
    backdrop-filter: blur(30px);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 20px;
  }
  
  .dropdown-content a:hover {
    background-color: rgb(187, 187, 187);
}
  
  .dropdown:hover .dropdown-content {
    display: block;
}

#tittle-notice {
    text-align: center;
    margin-top: 8vh;
    font-size: 50px;
    font-family: var(--font-paraParagrafos2);
}

.section-fst {
    width: 100%;
    height: 500px;
}

.fst-img {
    width: 50%;
    height: 450px;
    margin: 20px auto 0px;
}

.fst-img img {
    width: 100%;
    height: 100%;
}

.fst-img h4{
  color: var(--cor-azulClaro);
  font-family: var(--font-paraParagrafos2);
}

.txt-fst {
    width: 100%;
    height: 400px;
}

.txt-box {
    width: 50%;
    height: 100%;
    margin: 0 auto;
    display: flex;
}

.txt-box p {
    color: var(--cor-pretoFosco);
    font-size: 25px;
}

.propaganda-box {
 width: 25%;
 height: 300px;
 background-color: #BF9004;
 margin: 0 auto;
 animation-name: propaganda;
 animation-duration: 10s;
 animation-delay: 1s;
}

@keyframes propaganda {
  0% {
    background-image: url('/imagens/blazeanun.jpg');
  }

  20% {
    background-image: url('/imagens/asm.png');
  }

  40% {
    background-image: url('/imagens/ava.webp');
  }

  60% {
    background-image: url('/imagens/cs.webp');
  }

  100% {
    background-image: url('/imagens/GRNNYRMK.jpg');
  }
}